# Decision Tree Regression

In [2]:
import pandas as pd

In [4]:
import statsmodels.api as smapi
from sklearn.tree import DecisionTreeRegressor

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Read the file

In [6]:
path = "C:/Users/Ansari Aaquib/Downloads/drive-download-20210519T143124Z-001/Decision Tree/concrete.csv"

In [7]:
conc = pd.read_csv(path)

In [8]:
conc.head()

,cementcomp,slag,flyash,water,superplastisizer,coraseaggr,finraggr,age,CCS
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [9]:
conc.tail()

,cementcomp,slag,flyash,water,superplastisizer,coraseaggr,finraggr,age,CCS
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [11]:
conc.shape

(1030, 9)

In [12]:
conc.dtypes

cementcomp          float64
slag                float64
flyash              float64
water               float64
superplastisizer    float64
coraseaggr          float64
finraggr            float64
age                   int64
CCS                 float64
dtype: object

# Split the data into train and test

In [14]:
trainx,testx,trainy,testy = train_test_split(conc.drop('CCS',1),conc.CCS,test_size=0.3)

In [15]:
trainx.shape,trainy.shape

((721, 8), (721,))

In [16]:
testx.shape,testy.shape

((309, 8), (309,))

# Build the model

# Linear Regression model (ols)

In [17]:
m1 = smapi.OLS(trainy,trainx).fit()

#  include code for assumption check/validations

In [18]:
p1 = m1.predict(testx)

In [19]:
p1[0:10]

145    73.183874
877    25.409134
149    60.357850
432    23.000943
692    29.301868
883    33.694466
812    29.846441
431    24.617750
207    27.623554
932    27.841728
dtype: float64

# Decision tree model

In [20]:
m2 = DecisionTreeRegressor(criterion='mse').fit(trainx,trainy)

# Specify the hyper parameters after doing GridSearchCV

In [22]:
p2 = m2.predict(testx)
import numpy as np

In [25]:
df1 = pd.DataFrame({'Actual_CCS':testy,'LR_CCS':np.round(p1,2),'DT_CCS':np.round(p2,2)})

In [26]:
print(df1)

      Actual_CCS  LR_CCS  DT_CCS
145        69.30   73.18   66.90
877        31.42   25.41   31.42
149        64.30   60.36   60.29
432        26.20   23.00   16.88
692        39.70   29.30   39.66
...          ...     ...     ...
990        36.35   40.19   36.35
640        30.14   30.96   24.07
613        11.36   16.73   13.52
1019       35.23   19.86   35.23
433        46.39   33.21   45.71

[309 rows x 3 columns]

In [31]:
df1.sort_values(['DT_CCS','LR_CCS'])[0:30]

     Actual_CCS  LR_CCS  DT_CCS
688        2.33   10.87    4.90
705        3.32   14.16    4.90
708        6.28   15.02    6.88
264       19.52   26.78    7.84
605        6.47   11.91    8.20
617        9.31   13.00    8.20
189       10.38   18.77    8.20
665       11.39   16.29    8.37
184       11.58   19.48    8.49
631       17.54   23.76    9.01
199       15.04   23.97    9.45
596       10.73   20.03    9.62
674       13.57   25.90    9.73
921        9.74   17.93    9.74
629       11.17   13.98   10.34
736       12.05   14.12   10.34
800       13.71   15.75   11.47
586       14.54   30.21   11.47
726       14.31   22.74   11.85
578       17.20   35.22   12.18
269       15.44   25.36   13.12
416       15.61   31.04   13.12
244       19.93   21.83   13.33
254       13.54   25.81   13.33
891       13.46   26.59   13.46
613       11.36   16.73   13.52
533       11.65   17.91   13.52
623       12.54   19.26   13.52
62         9.87   20.25   13.52
718       10.35   14.60   13.66

# RMSE for the two models

In [32]:
rmse1,rmse2 = mean_squared_error(testy,p1),mean_squared_error(testy,p2)

In [33]:
print("MSE comparison\n\t OLS ={}\n\t DT= {}".format(rmse1,rmse2))

MSE comparison
	 OLS =113.51625231759488
	 DT= 37.10012928802589